@import url('./css/dashboard.css');

:root {
  --primary-color: #6A8533;
  --primary-hover: #567029;
  --text-info: #00B69B;
  --text-danger: #F93C65;
  --text-warning: #FF9066;
  --text-blue: #8280FF;
  --text-yellow: #FEC53D;
  --background-color: #f8f9fa;
  --background-color2: #ffffff96;
  --text-color: #000;
  --input-border: black;
  --text-white: #fff;
  --box-shadow: 0 0 5px rgba(106, 133, 51, 0.5);
  --box-shadow2: 0 4px 8px rgba(0, 0, 0, 0.1);
  --gradient-start: #D2E4AF;
  --gradient-end: rgba(210, 228, 175, 0);



  --gradient-warning1: rgba(255, 144, 102, 0.3);
  --gradient-info1: rgba(0, 182, 155, 0.3);
  --gradient-yellow1: rgba(254, 197, 61, 0.3);
  --gradient-blue1: rgba(130, 128, 255, 0.3);


}


.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--primary-color);
}

.text-dark {
  color: var(--text-color);
}

.text-danger {
  color: var(--text-danger);
}

.text-blue {
  color: var(--text-blue);
}

.text-yellow {
  color: var(--text-yellow);
}



/* ====================background colors =============== */

.bg-primary1 {
  background-color: var(--primary-color) !important;
}



.bg-info1 {
  background-color: var(--gradient-info1) !important;
}

.bg-warning1 {
  background-color: var(--gradient-warning1) !important;
}

.bg-yellow1 {
  background-color: var(--gradient-yellow1) !important;
}

.bg-blue1 {
  background-color: var(--gradient-blue1) !important;
}

body {
  background: var(--background-color) !important;
}

